/*
 * Helpers for creating responsive layouts.
 * Configure your breakpoints, and it's good to go!
 * Use the r() mixin for arbitrary breakpoints, and
 * the bp() mixin for predefined breakpoints.
 */

$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 420px;

@mixin r($value, $operator: "min-width", $query: 'screen') {
	@media #{$query} and (#{$operator}: #{$value}) {
		@content;
	}
}

@mixin bp($bp) {
	@if $bp == desktop {
		@include r($bp-desktop) {
			@content;
		}
	}
	@if $bp == tablet {
		@include r($bp-tablet) {
			@content;
		}
	}
	@if $bp == mobile {
		@include r($bp-mobile, "max-width") {
			@content;
		}
	}
}